<a href="https://colab.research.google.com/github/nhamhung/Coder-School-Machine-Learning/blob/master/FTMLE_Advanced_SQL_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![](https://i.imgur.com/0AUxkXt.png)

# MLE - Advanced SQL

### Connect to the database

![](https://raw.githubusercontent.com/jpwhite3/northwind-SQLite3/master/Northwind_ERD.png)

**Run those cells below**

In [0]:
from google.colab import drive
drive.mount('/content/gdrive/')

In [0]:
import sqlite3
import pandas as pd

# Replace the path below with yours
conn = sqlite3.connect('gdrive/My Drive/Student Files/FTMLE - Philippines/Data/Northwind_small.sqlite')

In [0]:
# Show all tables in the database
pd.read_sql_query("SELECT * FROM sqlite_master WHERE type = 'table'", conn)

## Exercises

### 1. Query all employees in the same department as Janet
Note: Your query cannot contain "Sales Representative"

__Expected Output__
![Expected Answer](https://i.imgur.com/QbMyadp.png)

In [0]:
# Query all employees in the same department as Janet
# Note: Your query cannot contain "Sales Representative"

query = '''
Select 


'''

pd.read_sql_query(query, conn)

### 2a. Without using DISTINCT, query countries that have customers but no suppliers
__Expected Output__

![Expected Answer](https://imgur.com/sdUKDYz.png)

In [0]:
# Without using DISTINCT, query countries that have customers but no suppliers
query = '''

'''

pd.read_sql_query(query, conn)

### 2b. Similar to Question 2a but now use DISTINCT

In [0]:
# Without using DISTINCT, query countries that have customers but no suppliers
query = '''

'''

pd.read_sql_query(query, conn)

### 3. Query top 5 most potential customers in North America and top 5 most potential customers in South America
Note: Potential customers are evaluated based on the total revenue earned.

__Expected Output__

![Expected Answer](https://i.imgur.com/ctNWmXu.png)

In [0]:
# Query top 5 most potential customers in North America and top 5 most potential customers in South America
query = '''

'''

pd.read_sql_query(query, conn)

### 4. Query the number of products in each Popularity group
__Rules:__
- Products with more than 400 items sold are "Regular" products
- Products with more than 800 items sold are "Popular" products
- Product with less than 400 items sold are "Unpopular" products

__Expected Output__

![](https://i.imgur.com/OhmmmAt.png)

In [0]:
# Query the number of products in each Popularity group

query = '''

'''

pd.read_sql_query(query, conn)

### 5. Query the contact list of Customer and Supplier by City

__Expected Output__

![](https://imgur.com/4aJ4kBw.png)

In [0]:
# Query the contact list of Customers and Suppliers by City
# Sort the City column alphabetically

query = '''

'''

pd.read_sql_query(query, conn)

### 6. Query the Median UnitPrice of all Beverages products

__Expected Output__: `18`

Read more on how to calculate Median in SQL [HERE](https://stackoverflow.com/questions/54399936/ceil-and-floor-in-sqlite/54399937).

In [0]:
# Query the median UnitPrice of all Beverages products

query = '''

'''

pd.read_sql_query(query, conn)

### 7. Query the Mean Unit Price of products in the following three Region Groups
- Group A: North America & South America
- Group B: Other Regions
- Worldwide

__Expected Output__

![](https://i.imgur.com/9WlvRyb.png)

In [0]:
# Query the Mean Unit Price of products in three Region Groups

query = '''

'''

pd.read_sql_query(query, conn)

### 7. Query the Variance of Order Value
Notes:

- Order value = UnitPrice * Quantity 
- Orders with multiple products should be aggregated i.e. OrderId must be unique

Hints: You can have more than one table for the FROM clause.

__Expected Output__: `3.957770e+06`

In [0]:
# Query the Variance of Order Value

query = '''

'''

pd.read_sql_query(query, conn)